*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    
}
body{
    background-image: url(../images/diyaud.jpg);
}
.container{
        height:100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 5, 9, 0.587);
    }
    #home {
        color: rgba(187, 181, 136, 0.987);
        font-family:'Times New Roman',Times,serif;
        font-size: 3rem;
        margin-left: 2rem;
        margin-bottom: 0rem;
        text-align: center;
    }
   #city {
        color: white;
        font-size: 70%;
        text-align: center;
    }

    .blue {
        color: rgba(248, 251, 161, 0.885);
        font-style: normal;
    }